body {
    margin: 0;
    padding: 0;
    
}

header {
    background-color: #333333;
    font-family: 'DM Sans', sans-serif;
    color: #eee;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: smaller;
}

.name {
    margin: 0;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #eee;
}


.nav-links {
    display: flex;

}

.nav-links h1 a{
    margin: 0 40px;
    text-decoration: none; 
    color: #eee; 
}



@media only screen and (max-width: 600px) {
    header {
        flex-direction: column;
    }

    .nav-links {
        margin-top: 10px;
    }

    .nav-links h1 {
        margin: 0 5px;
    }
}

#contact-container {
    display: flex;
}

#contact-us, .contact-form {
    flex: 1;
    padding: 20px;
}

#contact-us {
    background-image: url(./assets/background.jpg);
    background-size: cover;
    background-position: center; 
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.heading{
    color: white;
    font-size: 48px;
}
p{
    font-family: 'DM Sans', sans-serif;
    color: white;
}

.contact-form{
    background-image: url(./assets/background2.jpg);
    background-size: cover;
    background-position: center; 
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

form {
    max-width: 700px; /* Increase the maximum width */
    width: 100%; /* Take up 100% of the available width */
    margin: 0 auto;
    background-color: transparent;
    text-align: right;
    padding: 40px;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Increased box shadow for a lift effect */
}

input {
    display: block;
    width: 80%; 
    margin-bottom: 20px;
    padding: 15px;
    border: none;
    border-bottom: 2px solid rgb(19, 34, 34);
    background-color: transparent;
    color: #101415;
    font-size: large;
}
input::placeholder {
    color: white; /* Set the placeholder font color to a desired color */
}

button {
    background-color: #101415;
    color: #ffffff;
    padding: 15px 20px;
    cursor: pointer;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

/* Add hover effect for the input fields */
input:hover {
    border-bottom-color: #333;
}

/* Add hover effect for the button */
button:hover {
    background-color: #1e2323;
}
